@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fef4ef;
  --background-start-rgb: #fef4ef;
  --background-end-rgb: #fef4ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fef4ef;
    --background-start-rgb: #fef4ef;
    --background-end-rgb: #fef4ef;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #fef4ef;
}
